@charset "UTF-8";
.player {
    width:590px;
    margin: 0 auto;
    margin-top: 20px;
    clear: both;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}

.vdo_fr {
    width: 640px;
    height: 360px;
    position: relative;
    overflow: hidden;
    clear: both;
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

#video {
    display: block;
    position: absolute;
}

#progress {
    height: 10px;
    width: 640px;
    position: relative;
    margin-top: 20px;
    border-radius: 6px;
    background: #333;
    overflow: hidden;
}

#progressBar {
    width: 0px;
    height: 10px;
    background: #c30;
}

#buttonbar {
    height: 37px;
    padding: 3px;
    background: #333;
    width: 100%;
    box-sizing: border-box;
}

.player_btn,
#buttonbar input {
    display: inline-block;
    cursor: pointer;
}

.player_btn {
    margin: 6px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url("./images/controls2.png");
    background-size: 90px 90px;
}

#restart {
    background-position: -48px 0px;
    background-image: url("./images/controls2.png");
}

#rew {
    background-position: -24px 0px;
    background-image: url("./images/controls2.png");
}

#play {
    background-position: 0px -48px;
    position: relative;
}

#play:after {
    content: "▶";
    display: block;
    color: deepskyblue;
    margin-top: -8px;
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 0px;
}

#pause {
    background-position: -72px -48px;
    display: none;
    position: relative;
}

#pause:after {
    content: "||";
    display: block;
    color: deepskyblue;
    margin-top: -8px;
    font-size: 10px;
    position: absolute;
    top: 3px;
    left: 0px;
}

#stop {
    background-position: -48px -48px;
}

#fastFwd {
    background-position: -72px 0px;
}

#mute {
    background-position: 0px 0px;
    background-image: url("./images/controls2.png");
}

#unmute {
    background-position: 0px -72px;
    display: none;
}

#vmup {
    background-position: -48px -72px;
}

#vmdown {
    background-position: 0px -24px;
    background-image: url("./images/controls2.png");
}

#sizeup {
    background-size: 72px 72px;
    background-image: url("./images/controls3.png");
    background-position: 0px 0px;
}

#sizedown {
    background-size: 72px 72px;
    background-image: url("./images/controls3.png");
    background-position: -24px 0px;
}

#full {
    background-size: 72px 72px;
    background-image: url("./images/controls3.png");
    background-position: -48px 0px;
}

#original {
    background-size: 72px 72px;
    background-image: url("./images/controls3.png");
    background-position: 0px -24px;
    display: none;
}

#currentTime {
    position: absolute;
    right: 1.5%;
    top: 46%;
    color: #fff;
}

#volTxt {
    color: #fff;
    line-height: 10px;
    width: 35px;
    text-align: center;
    padding: 0;
}
.player2 {
    width: 590px;
    margin: 0 auto;
    margin-top: 20px;
    clear: both;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}

.vdo_fr2 {
    width: 640px;
    height: 360px;
    position: relative;
    overflow: hidden;
    clear: both;
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

#video2 {
    display: block;
    position: absolute;
}

#progress2 {
    height: 10px;
    width: 640px;
    position: relative;
    margin-top: 20px;
    border-radius: 6px;
    background: #333;
    overflow: hidden;
}

#progressBar2 {
    width: 0px;
    height: 10px;
    background: #c30;
}

#buttonbar2 {
    height: 37px;
    padding: 3px;
    background: #333;
    width: 100%;
    box-sizing: border-box;
}

.player_btn2,
#buttonbar2 input {
    display: inline-block;
    cursor: pointer;
}

.player_btn2 {
    margin: 6px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url("./images/controls22.png");
    background-size: 90px 90px;
}

#restart2 {
    background-position: -48px 0px;
    background-image: url("./images/controls22.png");
}

#rew2 {
    background-position: -24px 0px;
    background-image: url("./images/controls22.png");
}

#play2 {
    background-position: 0px -48px;
    position: relative;
}

#play2:after {
    content: "▶";
    display: block;
    color: deepskyblue;
    margin-top: -8px;
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 0px;
}

#pause2 {
    background-position: -72px -48px;
    display: none;
    position: relative;
}

#pause2:after {
    content: "||";
    display: block;
    color: deepskyblue;
    margin-top: -8px;
    font-size: 10px;
    position: absolute;
    top: 3px;
    left: 0px;
}

#stop2 {
    background-position: -48px -48px;
}

#fastFwd2 {
    background-position: -72px 0px;
}

#mute2 {
    background-position: 0px 0px;
    background-image: url("./images/controls22.png");
}

#unmute2 {
    background-position: 0px -72px;
    display: none;
}

#vmup2 {
    background-position: -48px -72px;
}

#vmdown2 {
    background-position: 0px -24px;
    background-image: url("./images/controls22.png");
}

#sizeup2 {
    background-size: 72px 72px;
    background-image: url("./images/controls33.png");
    background-position: 0px 0px;
}

#sizedown2 {
    background-size: 72px 72px;
    background-image: url("./images/controls33.png");
    background-position: -24px 0px;
}

#full2 {
    background-size: 72px 72px;
    background-image: url("./images/controls33.png");
    background-position: -48px 0px;
}

#original2 {
    background-size: 72px 72px;
    background-image: url("./images/controls33.png");
    background-position: 0px -24px;
    display: none;
}

#currentTime2 {
    position: absolute;
    right: 1.5%;
    top: 46%;
    color: #fff;
}

#volTxt2 {
    color: #fff;
    line-height: 10px;
    width: 35px;
    text-align: center;
    padding: 0;
}